.contact-card {
    width: 100%;
    padding: 30px 25px;
    border-radius: 5px;
    height: 100%;
  }

  .starlabel label:after {
    content:" *";
    color: red;
  }
  
  .contact-card .contact-card-icon {
    max-width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .contact-card .contact-card-content h6 {
    font-size: 16px;
    font-weight: 400;
    color: #204163;
  }


  .contact-us-wrapper {
    overflow: hidden;
  }

  .card-yellow {
    background-color: #ffffff;
  }
  
  .card-yellow:after {
    background-color: #f3c203;
  }
  
  .card-yellow .icon-yellow-bg {
    background-color: #f3c203;
    color: #ffffff;
  }
  
  .card-yellow .icon-yellow-bg:after {
    background-color: #ffffff;
  }
  
  .card-paste {
    background-color: #e0fbef;
  }
  
  .card-paste:after {
    background-color: #0cd593;
  }
  
  .card-paste .icon-paste-bg {
    background-color: #0cd593;
    color: #ffffff;
  }
  
  .card-paste .icon-paste-bg:after {
    background-color: #e0fbef;
  }
  
  .card-purple {
    background-color: #f2f0fc;
  }
  
  .card-purple:after {
    background-color: #886cff;
  }
  
  .card-purple .icon-purple-bg {
    background-color: #886cff;
    color: #f2f0fc;
  }
  
  .card-purple .icon-purple-bg:after {
    background-color: #f2f0fc;
  }
  
  .card-orange {
    background-color: #faf3e6;
  }
  
  .card-orange:after {
    background-color: #ffbe3d;
  }
  
  .card-orange .icon-orange-bg {
    background-color: #ffbe3d;
    color: #ffffff;
  }
  
  .card-orange .icon-orange-bg:after {
    background-color: #faf3e6;
  }

  .card-pink1 {
    background-color: #fde7e9;
    color: #ff5b69;
  }
  
  .card-yellow1 {
    background-color: #fef1d8;
    color: #ffbc3a;
  }
  
  .card-sky1 {
    background-color: #dff0fc;
    color: #0bb5c4;
  }
  
  .card-blue {
    background-color: #e6edfa;
    color: #0042c6;
  }
  
  .card-paste {
    background-color: #e0fbef;
    color: #0cd593;
  }
  
  .card-orange {
    background-color: #f76b1c;
    color: #f76b1c;
  }