/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/About/AboutUs/AboutUs.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.we-are-img{
    position: relative;
}

.we-are-img .h2-like,
.we-are-img .h2-heart,
.we-are-img .h2-message,
.we-are-img .h2-square,
.we-are-img .moving-circle,
.we-are-img .moving-circle-right {
  position: absolute;
}

.we-are-img .h2-like {
  right: 20px;
  top: 80px;
}

.we-are-img .h2-heart {
  top: 75px;
  left: 10px;
}

.we-are-img .h2-message {
  top: 100px;
  left: 30%;
}

.we-are-img .h2-square {
  top: 60px;
  left: 73%;
}

.we-are-img .moving-circle {
  top: 40%;
  right: 25px;
}

.we-are-img .moving-circle-right {
  bottom: 80px;
  left: 0px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/About/AboutWorking/AboutWorking.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.about-working-process {
    background-image: url(/_next/static/media/About-Us-Recovered.d1253ca6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px 0px 150px 0px;
  }

  .working-card {
    padding: 40px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
    text-align: center;
    border-radius: 6px;
  }
  
  .working-card:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }
  
  .working-margin {
    margin-top: 80px;
  }
  
  .working-card-icon {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
  }
  
  .working-card-icon i {
    font-size: 40px;
  }
  
  .working-card-icon svg {
    max-height: 40px;
    max-width: 40px;
  }
  
  .working-card-icon img {
    height: 40px;
    width: 40px;
  }
  
  .h3-wc-area {
    z-index: 1;
  }
  
  .working-card-arow2 {
    position: absolute;
    top: 125px;
    left: 60%;
    z-index: -1;
  }
  
  .working-card-arow3,
  .working-card-arow1 {
    position: absolute;
    top: -120px;
    left: 50%;
    z-index: -1;
  }

  .about-padding {
    padding-bottom: 200px;
  }

  .h3-wc-area {
    z-index: 1;
  }
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/Home/Stats/Stats.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
/* .app__stats{
  background-image: url('../../../assets/new/bg.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

.single-counter-two {
    border-radius: 6px;
    border: 1px solid #ffffff;
    transition: 0.4s ease-in-out;
  }
  
  .single-counter-two:hover {
    box-shadow: 0px 0px 15px 0px rgba(249, 197, 202, 0.53);
    border: 1px solid #f9c5ca;
  }
